body {
    // background-color: #063970;
    // display: flex;
    // justify-content: center;
    // // flex-wrap: wrap;
    background-color: aqua;
}

#game-canvas {
    box-shadow: 10px 10px 20px black;
    background-color: blueviolet;
}

// #root {
//     background-color: red;
// }